section.consult
    div.container
        h2 Получить консультацию

        form(action="", onsubmit="event.preventDefault(); validateEmail(this, event);")
            div.row
                fieldset.input
                    input(
                        type="text", 
                        placeholder="Ваше имя*", 
                        autocomplete="off", 
                        oninvalid="event.preventDefault(); this.classList.add('error'); this.nextElementSibling.nextElementSibling.textContent = this.validationMessage", 
                        onclick="this.classList.remove('error')",
                        onkeyup="validateCyr(this, event)", 
                        minlength="2",
                        pattern="[А-Яа-яЁё ]+",
                        required
                    )
                    label Ваше имя
                    span
                    include ../../images/alert.svg
                fieldset.input
                    input(
                        type="tel", 
                        placeholder="Телефон", 
                        autocomplete="off", 
                        oninvalid="event.preventDefault(); this.classList.add('error'); this.nextElementSibling.nextElementSibling.textContent = this.validationMessage", 
                        onclick="this.classList.remove('error')",
                        required
                    )
                    label Телефон
                    span
                    include ../../images/alert.svg
                fieldset.input
                    input(
                        type="email", 
                        placeholder="Ваш email", 
                        autocomplete="off", 
                        oninvalid="event.preventDefault(); this.classList.add('error'); this.nextElementSibling.nextElementSibling.textContent = this.validationMessage", 
                        onclick="this.classList.remove('error')",
                        pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}",
                        onkeyup="validateLat(this, event)",
                        required
                    )
                    label Ваш email
                    span
                    include ../../images/alert.svg
            div.textarea
                textarea(placeholder="Сообщение", rows="1", oninput="autosize(this)")
                //- label Сообщение
                //- include ../../../images/textarea.svg
            span.policy Нажимая кнопку «Оставить заявку», я даю своё #[a(href="###") согласие на обработку моих персональных данных]
            button Оставить заявку

    img(src="images/offer_background.svg", alt=" ").background

    div.success
        div.text
            h2 заявка успешно отправлена!
            span Наш менеджер скоро с вами свяжется.
        div.contact
            span Если остались вопросы, свяжитесь с нами:
            a(href="tel:+7 915 444-88-77").phone +7 915 444-88-77
            a(href="mailto:pochta@mail.com").email pochta@mail.com